/* styles.css */

@font-face {
    font-family: 'just';
    src: url('fonts/JustMeAgainDownHere-Regular.ttf');
}
.fontnuovo {
    -fx-font-family: 'just';
}
.background {
    /*-fx-background-color: linear-gradient(to bottom, #ffffff, #d1cfcf, #828282, #5c5a5a, #000000);*/
    -fx-background-color: linear-gradient(to bottom, #ffffff, #22c1c3, #fdbb2d);
}

.bottoni_barra {
    -fx-background-insets: 0, 0, 1, 2;
    -fx-background-radius: 50;
    -fx-padding: 3 6 4 6;
    -fx-background-color: transparent;
    -fx-text-fill: #9700ae;
    -fx-font-family: garamond;
    -fx-font-size: 16px;
    -fx-pref-height: 30px;
    -fx-pref-width: 60px;
    -fx-cursor: hand;

}
.sfondo_bottoni {
    -fx-background-insets: 0, 0, 1, 2;
    -fx-background-radius: 5;
    -fx-padding: 3 6 4 6;
    -fx-background-color: #9700ae;
    -fx-text-fill: #000000;
    -fx-font-family: garamond;
    -fx-font-size: 16px;
    -fx-pref-height: 30px;
    -fx-pref-width: 60px;
    -fx-cursor: hand; /* Cambia hand con il tipo di cursore desiderato */

}
.registra {
    -fx-background-insets: 0, 0, 1, 2;
    -fx-background-radius: 50;
    -fx-padding: 3 6 4 6;
    -fx-background-color: transparent;
    -fx-text-fill: #9700ae;
    -fx-font-family: garamond;
    -fx-font-size: 16px;
    -fx-pref-height: 30px;
    -fx-pref-width: 75px;
    -fx-cursor: hand; /* Cambia hand con il tipo di cursore desiderato */

}
.mondo {
   -fx-background-image: url('immagini/planisfero.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size:contain,cover;
}

.colortext {
    -fx-font-size: 50px;
    -fx-fill: linear-gradient(to right, #da0000, #7b0bea, #0022a4);
}

.bottoni_accedi {
    -fx-pref-height: 80px;
    -fx-pref-width: 300px;
    -fx-background-color: transparent;
    -fx-font-family: Garamond;
    -fx-font-size: 30;
    -fx-font-weight: bold;
}

.bottoni_accedi_veri {
    -fx-pref-width: 130px;
    -fx-font-weight: bold;
}

.bottoni_itinerario {
    -fx-font-family: 'allura';
    -fx-background-color: linear-gradient(to right, #cf29ee, #a341ff, #819af5);
    -fx-pref-width: 320px;
    -fx-font-weight: bold;
}

.prova{
    -fx-background-color: linear-gradient(to right, #cf29ee, #a341ff, #819af5);

}
/*
.btn-grad {
    -fx-background-color: linear-gradient(to right, #16A085 0%, #F4D03F 51%, #16A085 100%);
    -fx-margin: 10px;
    -fx-padding: 15px 45px;
    -fx-text-align: center;
    -fx-text-transform: uppercase;
    -fx-transition: 0.5s;
    -fx-background-size: 200% auto;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, #eee, 0, 0, 0, 20);
    -fx-border-radius: 10px;
    -fx-display: block;
}
*/



